.news-card {
    box-shadow: none;
    border: 1px solid #ddd;
}

.news-card .news-list li .cate {
    color: #999;
    letter-spacing: 1px;
    padding-right: 4px
}

.news-card .top-news a {
    color: #a11313;
    font-size: 16px;
    letter-spacing: 2px
}

.news-card .top-news a:hover {
    color: #e84848;
}

.news-list li .list_icon {
    width: 17px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    color: #a9aeb7;
    margin: 5px 9px 0 0;
    float: left;
    overflow: hidden
}

.news-list li .list_icon.top1 {
    background: #d32f2f;
    color: #fff;
    width: 16px;
    margin-right: 10px
}

.news-list li .list_icon.top2 {
    background: #fc7403;
    color: #fff;
    width: 16px;
    margin-right: 10px
}

.news-list li .list_icon.top3 {
    background: #f8cc1c;
    color: #fff;
    width: 16px;
    margin-right: 10px
}

.layui-carousel img {
    width: 100%;
    height: 100%;
}

.card{
    padding: 15px;
    border: 1px solid #ddd;
}

.card-header,.layui-card-header{
    padding-bottom: 15px;
    font-size: 18px;
    color: #1E9FFF;
}

.card-body-top {
    position: relative;
}

.card-body-top img {
    width: 100%;
    height: 100%;
}

.card-body-top span{
    display: inline-block;
    padding-left: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 12px);
    height: 30px;
    line-height: 30px;
    z-index: 2;
}

.card-body-top span a{
    color: #FFF;
}

.card-body-top span.title-bg {
    opacity: 0.6;
    background: #000;
    z-index: 1;
}

.card-body ul{
    padding-top: 10px;
}

.card-body li{
    line-height: 32px;
}

.layui-card-header{
    padding-bottom: 0;
}