{include file="../application/public/header.html"}
<link rel="stylesheet" href="__WEBSITE__/index/index.css">
<script src="__WEBSITE__/index/index.js"></script>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3">
            <div class="category">
                <h2 class="title">作品分类</h2>
                <ul class="cate-list" id="dataGroupdom" name="stat-groupdom"></ul>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-carousel" id="test1">
                <div carousel-item>
                    <div><img src="__WEBSITE__/index/images/1.jpeg" alt=""></div>
                    <div><img src="__WEBSITE__/index/images/2.jpeg" alt=""></div>
                    <div><img src="__WEBSITE__/index/images/3.jpeg" alt=""></div>
                    <div><img src="__WEBSITE__/index/images/4.jpeg" alt=""></div>
                    <div><img src="__WEBSITE__/index/images/5.jpeg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-card news-card">
                <div class="layui-card-header">排行榜</div>
                <div class="layui-card-body">
                    <ul class="news-list" id="newsList"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="../application/public/footer.html"}