{include file="../application/public/header.html"}
<link rel="stylesheet" href="__WEBSITE__/index/index.css">
<script src="__WEBSITE__/index/index.js"></script>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md3">
            <div class="category">
                <h2 class="title">作品分类</h2>
                <ul class="cate-list" id="dataGroupdom" name="stat-groupdom"></ul>
            </div>
        </div>
        <div class="layui-col-md9">
            我是轮播图^_^
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card news-card" id="newsListLeft">
                <div class="layui-card-header">
                    <div class="top-news">
                        <a href="" title=""></a>
                    </div>
                </div>
                <div class="layui-card-body">
                    <ul class="news-list"></ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card news-card" id="newsListRight">
                <div class="layui-card-header">
                    <div class="top-news">
                        <a href="" title=""></a>
                    </div>
                </div>
                <div class="layui-card-body">
                    <ul class="news-list"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>