{include file="../application/public/articleHeader.html"}
<link rel="stylesheet" href="__PUBLIC__/umeditor/themes/default/css/umeditor.css">
<link rel="stylesheet" href="__WEBSITE__/article/article.css">
<script src="__PUBLIC__/umeditor/umeditor.config.js"></script>
<script src="__PUBLIC__/umeditor/umeditor.js"></script>
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-header">
            <div class="layui-nav layui-layout-left">
                <ul>
                    <li class="layui-nav-item"><a href="/">首页</a></li>
                </ul>
            </div>
            <div class="layui-nav layui-layout-right">
                <ul>
                    <li class="layui-nav-item">
                        <span id="release"><i class="layui-icon layui-icon-release"></i>发布</span>
                    </li>
                </ul>
            </div>
        </div>
        <input type="text" name="title" id="title" class="layui-input" required lay-verify="required"
               placeholder="请输入标题">
        <script id="container" name="content" type="text/plain"></script>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var ue = UM.getEditor('container', {
            fullscreen: true,
            initialFrameHeight: 320
        });

        $('#release').click(function () {
            var title = $('#title').val();
            var content = UM.getEditor('container').getContent();
            $.ajax({
                url: '../../index/article/addArticle',
                type: 'post',
                data: {
                    title: title,
                    content: content,
                },
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                }
            });
        });
    })
</script>
</body>
</html>