{include file="../application/public/header.html"}
<link rel="stylesheet" href="__WEBSITE__/search/search.css">
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                {volist name="search" id="item" empty='<span class=empty>暂无数据</span>'}
                <div class="layui-card-header">
                    <span class="category">[{$item.name}]</span>
                    <a href="../../article/article/view?id={$item.article_id}">{$item.title}</a>
                    <span class="time layui-layout-right">{$item.update_time}</span>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
{include file="../application/public/footer.html"}