html, body {
    font-family: MicrosoftYaHei;
}

a:hover {
    color: #1E9FFF !important;
}

em {
    font-weight: 400;
    font-style: normal;
}

.layui-header {
    padding: 15px 0;
    height: auto;
}

.layui-header .layui-fluid {
    padding: 0;
}

.layui-nav .layui-nav-item {
    line-height: 58px;
}

.layui-nav .layui-nav-item:last-child {
    position: absolute;
    right: 20px;
    top: 0;
}

.layui-nav .layui-nav-active {
    /*border-bottom: 2px solid #1E9FFF;*/
    background: #1E9FFF;
}

.layui-nav .layui-nav-active a, .layui-nav .layui-nav-active a:hover {
    color: #FFF !important;
}

.layui-form-item .global-search {
    width: 100%;
}

.layui-nav .layui-nav-item a {
    font-size: 18px;
}

.global-search .layui-form-mid.layui-word-aux {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.user-action {
    line-height: 38px;
    text-align: right;
}

.user-action a {
    padding: 0 10px;
}

.user-action a:hover {
    color: #e84848;
}

.layui-footer p {
    padding: 30px 0;
    text-align: center;
}